.wrapper {
  background-color: #3c804b;
  padding: 40px;

  background-image: url("/textures/confetti_texture.svg"); 

  min-height: 600px;
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 

  border-bottom: 2px solid rgb(95, 95, 95);
  border-top: 2px solid rgb(87, 87, 87);
}

.offers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

  padding: 30px 100px;
  opacity: .7;
}

.offers {

  border-radius: 4px;
  border-top: 2px solid white;
  border-bottom: 5px solid white;
  border-left: 1px solid rgba(252, 252, 252, 0.425);

  color: antiquewhite;
  background-color: #60ca77;
  box-shadow: 2px 0px 2px rgb(34, 37, 30);

}


